.App {
  margin: 65px 16px;
  text-align: center;
}

.lengthText {
  margin: 20px;
  padding: 11px 10px 11px 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  width: 30%;
  background-color: #ccc;
}

.enteredText {
  margin: 20px 35%;
  padding: 11px 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  width: 30%;
  background-color: #ccc;
}

.textBlock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 11px;
  margin: 0px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 33, 33);
  color: white;
}

.image {
  /* margin-left: 5px; */
  margin:-8px 0px -11px -6px;
}

.user {
  margin-right: 20px;
}

.name {
  margin: 0 5px 0 85px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: rgb(41, 33, 33);
  color: #ccc;
}